<template>
  <div class="footer">
    <ul>
    <li></li>
    <li><a href="#">Pagers</a></li>
    <li><a href="#">Link</a></li>
    <li class="spasi"></li>
    <li><a href="#">Link</a></li>
    </ul>
  </div>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style>

</style>
