<template>
  <div class="navbar">
    <ul class="navigation">
    <li class="logo"><img height=65px src="@/assets/logo.png"></li>
    <li class="nav" v-bind:class="menuClass"><a href="#">DATA APPLY</a></li>
    <li class="nav"><a href="#">MANAJEMEN USER</a></li>
    <li class="spasi"></li>
    <li class="dropdown"><a href="#">
        KELUAR
    </a></li>
    <li class="dropdown"><a href="#">
        UBAH PASSWORD
    </a></li>
    </ul>
  </div>
</template>

<script>
import Setting from './Setting';

export default {
  name: 'Navbar',
  components: {
    Setting
  },
  props: {
    sidebarIsOpen: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    openSidebar() {
      this.$emit('open-sidebar');
    },
    closeSidebar() {
      this.$emit('close-sidebar');
    }
  },
  computed: {
    menuClass() {
      return {
        'nav-active': true
      }
    }
  }
}
</script>

<style scoped>
.navbar {
    background-color: #B71C1C;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    background-color:white;
    opacity: 0.8;
    padding-left : 15px;
    padding-top: 5px;
    padding-right: 15px;
}

.navigation .nav a {
  color: rgba(255, 255, 255, 0.6);
}

.navigation .nav-active a {
  color: white;
}

.navigation a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1.5em;
    color: white;
    height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
}

.navigation a:hover {
    background: darken(deepskyblue, 2%);
}

.spasi {
    flex-grow: 8;
}


</style>
