<template>
  <div class="sidebar">

  </div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style scoped>
.sidebar {
  background-color: red;
  position: fixed;
  top: 70px;
  width: 200px;
  height: 100%;
  z-index: 100;
}
</style>
