<template>
  <div>
    <div class="wraper">
      <div class="inside" v-if="isLoading">Loading . . . </div>
        <template v-else>
          <UserTable :users="users" />
          <!-- <UserForm @add-user="addUser" /> -->
          <p class="a">Menampilkan x data dari x</p>
        </template>
    </div>
    <ul class="foot">
        <li>Halaman</li>
        <li class="agen">Info ke agen untuk follow up pendaftar? <a class="linkAgen" href="http://">MANAJEMEN DATA AGEN</a></li>
    </ul>
    <div><br><br><br></div>
  </div>
</template>

<script>
import axios from 'axios';
import UserTable from './UserTable';
import UserForm from './UserForm';

export default {
  name: 'app',
  components: {
    UserTable,
    UserForm
  },
  data () {
    return {
      users: [],
      isLoading: true
    }
  },
  mounted() {
    this.getUser();
  },
  methods: {
    getUser() {
      axios 
        .get('https://quind-api.herokuapp.com/v1/users')
        .then((response) => {
          this.users = response.data.users;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
        });
    },
    addUser(payload) {

    }
  }
}
</script>

<style>
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.main-container {
  padding: 50px 10px 0;
  position: relative;
  top: 70px;
  z-index: 1;
}

.wraper {
    background-color: white;
    border-radius: 20px;
    width: 1300px;
    margin: auto;
}

.inside {
    margin: center;
}

p.a {
    font-style: italic;
    padding: 20px;
    padding-top:0px;
}

.foot {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.agen {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #333333;
}

.linkAgen {
  font-style: italic;
  font-size: 16px;
  color: #B71C1C;
}

</style>
